<div id="challenge-sidebar" class="sidebar">
    <ul class="list-of-challenges">
        <h3 i18n-data="Challenges"></h3>
        {{#each allChallenges}}
        <li>
            <a id="{{ this.shortName }}" data-id="{{ @index }}" href="{{ this.shortName }}.html"
               class="challenge-item{{#if this.currentChallenge}} current{{/if }}">
                <div class="current-arrow">▶️</div>
                {{ this.titleName }}
            </a>
        </li>
        {{/each}}
    </ul>
</div>
