<div class="prenext">
    <div class="u-floatLeft">
        <a href="{{ previousUrl }}" class="u-inline-block all-caps">{{ previousName }}
            <div class="octicon__reply--left"></div>
        </a>
    </div>
    <div class="u-textRight u-floatRight">
        <a href="{{ nextUrl }}" class="u-inlineBlock all-caps">{{ nextName }}
            <div class="octicon__reply--right"></div>
        </a>
    </div>
</div>
