<div class="footer">
    <div class="footer__left">
        <a href="{{ previousUrl }}" class="footer__link">{{ previousName }}
            <div class="octicon__reply--left"></div>
        </a>
    </div>
    <div class="footer__right">
        <a href="{{ nextUrl }}" class="footer__link">{{ nextName }}
            <div class="octicon__reply--right"></div>
        </a>
    </div>
</div>
