<div class="sidebar">
    <h3 i18n-data="Challenges"></h3>
    <ul class="sidebar__list">
        {{#each allChallenges}}
        <li id="sidebar__list__item--{{ this.shortName }}"
            class="sidebar__list__item {{#if this.currentChallenge}} current{{/if}}">
            <a href="{{ this.shortName }}.html">
                <span class="octicon__dot status-dot"></span>
                {{ this.titleName }}
                {{#if this.currentChallenge}}
                    <span class="octicon__triangleRight current-arrow"></span>
                {{/if}}
            </a>
        </li>
        {{/each}}
    </ul>
</div>
