<header class="header">
    <!-- Wrapping of select necessary for css :after styling of arrow -->
    <div class="header__lang">
        <select id="header__lang__select">
            {{ localeMenu }}
        </select>
    </div>
    <div class="header__text">
        <span class="header__text__gitit">Git-it</span>
        {{#if pageTitle}}
            <span class="header__text__gitit">|</span>
            <span class="header__text__title">{{ pageTitle }}</span>
        {{/if}}
    </div>
</header>
