<header id="page-header" class="site-header">
    <div class="lang-select">
        <select id="lang-select" class="btn-outline lang-select">
            {{ localeMenu }}
        </select>
    </div>
    <a class="filledblock" href="./index.html">
        Git-it
    </a>
    <span class="challenge-title">{{ pageTitle }}</span>
</header>
