<div>
    <button id='btn-verify-challenge' class="verify__button" i18n-data="verify~Verify!"></button>
    <div id="verify-spinner" class="sk-bounce verify__spinner">
        <div class="sk-bounce-dot"></div>
        <div class="sk-bounce-dot"></div>
    </div>
    <ul id="verify-list" class="verify__list"></ul>
    <button id="btn-clear-challenge" class="verify__button" i18n-data="verify~Clear status"></button>
</div>
