<div class="verify bold-blue solid-box">
    <button class="btn-white" id='btn-select-directory' i18n-data="verify~Select directory"></button>
    <button class="btn-white" id='btn-verify-challenge' i18n-data="verify~Verify!"></button>
    <div id="verify-spinner" class="sk-bounce">
        <div class="sk-bounce-dot"></div>
        <div class="sk-bounce-dot"></div>
    </div>
    <span id='path-required-warning' i18n-data="verify~Please select your repository directory."></span>
    <div id='div-selected-dir'>
        <span i18n-data="verify~Selected directory: "></span>
        <span id='path-selected-dir'></span>
    </div>
    <ul id="verify-list"></ul>
    <button class="btn-white" id="btn-clear-challenge"  i18n-data="verify~Clear status"></button>
</div>
