<div class="verify__box">
    <button id='btn-select-directory' class="verify__button" i18n-data="verify~Select directory"></button>
    <button id='btn-verify-challenge' class="verify__button" i18n-data="verify~Verify!"></button>
    <div id="verify-spinner" class="sk-bounce verify__spinner">
        <div class="sk-bounce-dot"></div>
        <div class="sk-bounce-dot"></div>
    </div>
    <span id='path-required-warning' class="verify__dir-text" i18n-data="verify~Please select your repository directory."></span>
    <div id='div-selected-dir' class="verify__dir-text">
        <span i18n-data="verify~Selected directory: "></span>
        <span id='path-selected-dir'></span>
    </div>
    <ul id="verify-list" class="verify__list"></ul>
    <button id="btn-clear-challenge" class="verify__button" i18n-data="verify~Clear status"></button>
</div>
