<div class="verify bold-blue solid-box">
    <button class="btn-white" id='btn-verify-challenge' i18n-data="verify~Verify!"></button>
    <div id="verify-spinner" class="sk-bounce">
        <div class="sk-bounce-dot"></div>
        <div class="sk-bounce-dot"></div>
    </div>
    <ul id="verify-list"></ul>
    <button class="btn-white" id="btn-clear-challenge" i18n-data="verify~Clear status"></button>
</div>
