<div id="challenge-desc" class="chal-goal blue-border border-box">
    <p i18n-data="ch11~Merge your branch locally, delete the branch and pull from upstream."></p>
</div>

<div class="chal-background light-blue solid-box">
    <h2 i18n-data="ch11~Cleaning up"></h2>

    <p i18n-data="ch11~Once you don't need branches anymore you can delete them locally and remotely. This is helpful so that you don't end up with a pile of old branches."></p>
</div>

<div class="chal-step blue-border border-box">
    <h3 i18n-data="ch11~Merge Locally"></h3>
    <p i18n-data="ch11~Your pull request has been merged! Your branch was merged into the 'gh-pages' branch of the original on GitHub. You can merge your branch locally, too."></p>

    <p i18n-data="ch11~First, move into the branch you want to merge into — in this case, the branch 'gh-pages'."></p>
    <p><code class="shell">git checkout gh-pages</code></p>

    <p i18n-data="ch11~Now tell Git what branch you want to merge in — in this case, your feature branch that begins with {/dqm/}add-{/dqm/}."></p>
    <p><code class="shell">git merge &#60;BRANCHNAME&#62;</code></p>

    <p i18n-data="ch11~Tidy up by deleting your feature branch. Now that it has been merged you don't really need it around."></p>
    <p><code class="shell">git branch -d &#60;BRANCHNAME&#62;</code></p>

    <p i18n-data="ch11~You can also delete the branch from your remote on GitHub:"></p>
    <p><code class="shell">git push &#60;REMOTENAME&#62; --delete &#60;BRANCHNAME&#62;</code></p>
</div>

<div class="chal-step blue-border border-box">
    <h3 i18n-data="ch11~Pull from Upstream"></h3>
    <p i18n-data="ch11~And last but not least, the original has changed since your pull request was merged — Reporobot added your name to the website! If you pull in these changes from upstream you'll be up to date and have that version too. You can actually see it live as well at: yourusername.github.io/patchwork."></p>

    <p i18n-data="ch11~To pull from the original upstream:"></p>
    <p><code class="shell">git pull upstream gh-pages</code></p>
</div>

<div class="chal-background light-blue solid-box">
    <h2 i18n-data="ch11~Congratulations!"></h2>
    <p i18n-data="ch11~You've created local repositories, remote repositories, worked with a collaborator, pushed, pulled and joined the millions of others developing and enriching open source!"></p>

    <p i18n-type="standard_html"
        i18n-data="ch11~Visit {/lnk_patchwork/}jlord.github.io/patchwork{/lnk_e/} to see your name incorporated! Looking to keep going? Checkout the {/lnk_next/}What Next{/lnk_e/} section on the resources page in this app."
        i18n-options='{
            "lnk_patchwork": "https://jlord.github.io/patchwork",
            "lnk_next": "../pages/resources.html#what-next"
        }'></p>
</div>

{{{ verify_directory_button }}}

<div class="chal-tip grey-border border-box">
    <ul class="no-list-style">
        <li><strong i18n-data="ch11~Merge a branch into current branch"></strong></li>
        <code class="shell">git merge &#60;BRANCHNAME&#62;</code>
        <li><strong i18n-data="ch11~Change the branch you're working on"></strong></li>
        <code class="shell">git checkout &#60;BRANCHNAME&#62;</code>
        <li><strong i18n-data="ch11~Delete a local branch"></strong></li>
        <code class="shell">git branch -d &#60;BRANCHNAME&#62;</code>
        <li><strong i18n-data="ch11~Delete a remote branch"></strong></li>
        <code class="shell">git push &#60;REMOTENAME&#62; --delete &#60;BRANCHNAME&#62;</code>
        <li><strong i18n-data="ch11~Pull from a remote branch"></strong></li>
        <code class="shell">git pull &#60;REMOTENAME&#62; &#60;BRANCHNAME&#62;</code>
    </ul>
</div>
