<div id="challenge-desc" class="chal-goal blue-border border-box">
    <p i18n-data="ch01~Install Git on your computer and configure your name and email."></p>
</div>

<div class="chal-background light-blue solid-box">
    <h2 i18n-data="ch01~Git"></h2>
    <p i18n-type="standard_html"
        i18n-data="ch01~Git is free {/str/}open source software{/str_e/} (the {/lnk_git/}source code is public{/lnk_e/}) written by Linus Torvalds who also wrote the Linux operating system's kernel."
        i18n-options='{
            "lnk_git": "https://github.com/git/git"
        }'></p>
    <p i18n-type="standard_html"
        i18n-data="ch01~Git is a program for keeping track of changes over time, known in programming as {/str/}version control{/str_e/}. If you've used a track changes feature in a text editing software then you're already familiar with the concept!"></p>
</div>

<div class="chal-step blue-border border-box">
    <h3 i18n-data="ch01~Install Git"></h3>
    <p i18n-type="standard_html"
        i18n-data="ch01~We recommend installing Git on your computer by installing the {/lnk_git/}latest version{/lnk_e/} from the Git website."
        i18n-options='{
            "lnk_git": "https://git-scm.com/downloads"
        }'></p>

    <ul>
        <li i18n-type="standard_html" i18n-data="ch01~{/str/}Windows{/str_e/}: Use the {/str/}Git Shell{/str_e/} for your terminal."></li>
        <li i18n-type="standard_html" i18n-data="ch01~{/str/}Mac{/str_e/}: You can use the {/str/}terminal{/str_e/} app as your terminal."></li>
    </ul>

    <p i18n-type="standard_html"
        i18n-data="ch01~Already have Git or not sure? Type {/cde/}git --version{/cde_e/} in your terminal and if it returns a version number higher than {/cde/}1.7.10{/cde_e/}, you're set! For more information, visit the {/lnk_git/}Git website{/lnk_e/}."
        i18n-options='{
            "lnk_git": "http://git-scm.com"
        }'></p>
</div>

<div class="chal-background light-blue solid-box">
    <h2 i18n-data="ch01~Git Software"></h2>
    <p i18n-data="ch01~Git on its own isn't like other programs on your computer. You'll likely not see an icon on your desktop, but it will always be available to you and you'll be able to access it at any time from your terminal or Git desktop applications."></p>
    <p i18n-type="standard_html"
        i18n-data="ch01~GitHub provides such an desktop application, the {/lnk_desktop/}GitHub Desktop{/lnk_e/} app. The GitHub Desktop app can do a lot of things with Git but not all, which is why learning the terminal is important. But once you've got that down, you'll be glad to have the desktop app because it organizes your project's information more visually, like the GitHub website."
        i18n-options='{
            "lnk_desktop": "https://desktop.github.com"
        }'></p>
</div>

<div class="chal-step blue-border border-box">
    <h3 i18n-data="ch01~Configure Git"></h3>
    <p i18n-type="standard_html"
        i18n-data="ch01~Once Git is installed, open your {/str/}terminal{/str_e/}. You can verify that Git is really there by typing:"></p>

    <div class='code'><code class="shell">git --version</code></div>

    <p i18n-data="ch01~This will return the version of Git on your computer and look something like this:"></p>

    <div class='code'><code class="comment">git version 1.9.1</code></div>

    <p i18n-data="ch01~Next, configure Git so it knows to associate your work to you:"></p>
    <p i18n-data="ch01~Set your name:"></p>
    <div class='code'><code class="shell">git config --global user.name "Your Name"</code></div>
    <p i18n-data="ch01~Now set your email:"></p>
    <div class='code'><code class="shell">git config --global user.email "youremail@example.com"</code></div>

    <p i18n-data="ch01~You're done with your first challenge! Click the 'Verify' button to check the challenge."></p>
</div>

{{{ verify_button }}}

<div class="chal-tip grey-border border-box">
    <h3 i18n-data="ch01~Dollar Signs in Code Documentation"></h3>
    <p i18n-type="standard_html"
        i18n-data="ch01~Dollar signs {/cde/}${/cde_e/} are often used in programming documentation to signify that the line is {/str/}command line{/str_e/} code (see the code snippets above). You don't actually type the {/cde/}${/cde_e/} in though, only type what comes after."></p>
</div>
