<div id="challenge-desc" class="box--border--blue box--goal">
    <p i18n-data="ch03~Create a file in your new repository, add something to that file and commit that change with Git."></p>
</div>

<div class="box--solid--light">
    <h2 i18n-data="ch03~Commits"></h2>
    <p i18n-data="ch03~Commits are core to using Git. They are the moments in which you save and describe the work you've done. They are the ticks in the timeline of your project's history."></p>
</div>

<div class="box--border--blue box--step">
    <h3 i18n-data="ch03~Create a New File"></h3>
    <p i18n-data="ch03~Now that you've got a repository started let's add a file to it."></p>
    <p i18n-data="ch03~Open your text editor and create a new empty file. Now write a little bit of text, perhaps type {/dqm/}Hello!{/dqm/}, and save the file as 'readme.txt' in the 'hello-world' folder you created in the last challenge."></p>
</div>

<div class="box--border--blue box--step">
    <h3 i18n-data="ch03~Check Status + Add and Commit Changes"></h3>
    <p i18n-type="standard_html"
        i18n-data="ch03~Next check the {/str/}status{/str_e/} of your repository to find out if there have been changes. You know you have changed something, but does Git?"></p>

    <p i18n-data="ch03~Make sure you're still within your 'hello-world' directory when you're running these commands. Use Git to see what changed in your repository:"></p>

    <p i18n-data="ch03~First, check the status:"></p>
    <div class='code'><code class="shell">git status</code></div>
    <p i18n-data="ch03~Git should tell you that a file has been added."></p>

    <p i18n-type="standard_html"
        i18n-data="ch03~Then {/str/}add{/str_e/} the file you just created so that it becomes a part of the changes you will {/str/}commit{/str_e/} (aka save) with Git:"></p>
    <div class='code'><code class="shell">git add readme.txt</code></div>

    <p i18n-type="standard_html"
        i18n-data="ch03~Finally, {/str/}commit{/str_e/} those changes to the repository's history with a short (m) message describing the updates."></p>
    <div class='code'><code class="shell">git commit -m "Created readme"</code></div>
</div>

<div class="box--border--blue box--step">
    <h3 i18n-data="ch03~Step: Make More Changes"></h3>
    <p i18n-data="ch03~Now add another line to 'readme.txt' and save the file again."></p>

    <p i18n-type="standard_html"
        i18n-data="ch03~In terminal, you can view the {/str/}diff{/str_e/}erence between the file now and how it was at your last commit."></p>

    <p i18n-type="standard_html"
        i18n-data="ch03~Tell Git to show you the {/str/}diff{/str_e/}:"></p>
    <div class='code'><code class="shell">git diff</code></div>

    <p i18n-data="ch03~Now with what you just learned above, commit this latest change."></p>
</div>

{{{ verify_directory_button }}}

<div class="box--border--grey box--tip">
    <ul class="no-list-style">
        <li><strong i18n-data="ch03~Check status of changes to a repository"></strong></li>
        <div class='code'><code class="shell">git status</code></div>
        <li><strong i18n-data="ch03~View changes to files"></strong></li>
        <div class='code'><code class="shell">git diff</code></div>
        <li><strong i18n-data="ch03~Add a file's changes to be committed"></strong></li>
        <div class='code'><code class="shell">git add &#60;FILENAME&#62;</code></div>
        <li><strong i18n-data="ch03~To add all files changes"></strong></li>
        <div class='code'><code class="shell">git add .</code></div>
        <li><strong i18n-data="ch03~To commit (aka save) the changes you've added with a short message describing the changes"></strong></li>
        <div class='code'><code class="shell">git commit -m "your commit message"</code></div>
        <ul>
</div>
