/*
 * All the Git-it Styling
 */

/*****************************
 * Footer
 *****************************/
.footer {
  overflow: auto;

  &__left {
    float: left;
  }
  &__right {
    float: right;
    text-align: -webkit-right;
  }

  &__link{
    font-size: 12px;
    text-transform: uppercase;

    .octicon__reply {
      width: 16px;
      height: 16px;
      background-color: var(--blue);
      display: block;
    }

    &:hover {
      color: var(--blue-hover);
      .octicon__reply {
        background-color: var(--blue-hover);
        //************************ TODO: there's a flickering when hovering between octicon and link-text
      }
    }
  }
}

/*****************************
 * Index Page
 *****************************/
.index-page {
  .octicon__trash {
    width: 18px;
    height: 18px;
    background-color: var(--blue_light);
    vertical-align: middle;
  }
}
