/**
 * This file contains some variables for common design
 * Trying to use more or less BEM-Model, using only one dash or lodash respectively
 */

:root {
  --blue: #0087ff;
  --blue-hover: #4babff;
  --blue_light: #88ccff;
  --blue_dark: #007ae6;

  --grey_light: #a6a6a6;

  --white_darkest: #e0e0e0;
  --white_dark: #fafafa;
  --white: #ffffff;
}
