/**
 * This file contains some variables for common design
 * Trying to use more or less BEM-Model, using only one dash or lodash respectively
 */

:root {
  --blue: #0087ff;
  --blue-hover: #4babff;
  --blue_light: #88ccff;
  --blue_light-hover: #66bdff;
  --blue_lighter: #badfff;
  --blue_lightest: #eaf6ff;
  --blue_dark: #007ae6;
  --blue_grey: #4f6375;

  --grey_darker: #5a5a5a;
  //--grey_dark: #808080;
  --grey: #999999;
  --grey_light: #a6a6a6;

  --white_darkest: #e0e0e0;
  --white_dark: #fafafa;
  --white: #ffffff;
  --white-hover: #cce7ff;
}
