<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Git-it</title>
    <link rel="stylesheet" href="../../assets/css/new-style.css">
    <link rel="stylesheet" href="../../assets/css/new-challenge.css">
    <link rel="stylesheet" href="../../assets/css/buttons.css">
    <style title="jsTranslationStylesheet" id="page-translation-style"></style>
  </head>

  <body>
    {{{ header }}}

    <div class="page-wrapper content">
      {{{ body }}}
    </div>

    <script>require('../../lib/i18n-translate.js')</script>
    <script>require('../../lib/handle-external-links.js')</script>
  </body>
</html>
