name: Build App Release Zip

on:
  push:
    tags:
      - "v*"
  workflow_dispatch:

jobs:
  build:
    strategy:
      matrix:
        node: ['24']
        os: [ubuntu-latest, windows-latest, macos-latest]

    name: Run Make (${{ matrix.os }})
    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v5

      - name: Set up node
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node }}

      - name: Install dependencies
        run: npm ci

      - name: Build App
        run: npm run make

      - name: Upload Release Artifacts
        uses: softprops/action-gh-release@v2
        with:
          draft: true
          files: out/make/**/*.zip
